{% assign slug = include.repository %}
{% assign parts = slug | split: '/' %}

<div class="repo p-2">
  <a href="https://github.com/{{ slug }}" class="repo-card-link" target="_blank" rel="noopener noreferrer">
    <div class="repo-card" data-repo="{{ slug }}">
      <div class="repo-card-title">
        <i class="fa-solid fa-book-bookmark"></i>
        <span class="repo-card-owner">{{ parts[0] }}/</span>{{ parts[1] }}
      </div>
      <p class="repo-card-description" hidden></p>
      <div class="repo-card-meta">
        <span class="repo-card-lang" hidden>
          <span class="repo-lang-dot"></span>
          <span class="repo-lang-name"></span>
        </span>
        <span class="repo-card-stat repo-stars" hidden>
          <i class="fa-solid fa-star"></i> <span class="repo-stars-count"></span>
        </span>
      </div>
    </div>
  </a>
</div>
